@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswald/oswaldregular.woff2"), url("../fonts/oswald/oswaldregular.woff");
    font-weight: 500;
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswald/oswaldlight.woff2"), url("../fonts/oswald/oswaldlight.woff");
    font-weight: lighter;
}

@font-face {
    font-family: "Tahoma";
    src: url("../fonts/tahoma/tahome.ttf");
    font-weight: lighter;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Tahoma", Arial, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #8f8f8f;
    text-transform: none;
    background-image:
        url(../img/background.png),
        url(../img/background-noise.png);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 30px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-border {
    margin-bottom: 25px;
    height: 5px;
    background-color: #7e7e7e;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    list-style: none;
}

.search-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2px;
}

.search-input {
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 11px;
    width: 158px;
    font-family: inherit;
    font-size: 12px;
    color: #b2b2b2;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    border-right: none;
}

.button-search {
    padding-top: 11px;
    padding-bottom: 5px;
    width: 42px;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fefefe;
    background-color: #29c5e6;
    border: none;
}

.button-search:hover,
.button-search:active {
    background-color: #0d7c96;
}

.main-menu {
    width: 100%;
    margin-bottom: 30px;
    background-color: #f3f3f3;
}

.main-menu-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu-item:first-child .main-menu-link:not(.main-menu-link-current) {
    border-left: 1px solid #e7e7e7;
    ;
}

.main-menu-item:last-child .main-menu-link:not(.main-menu-link-current) {
    border-right: 1px solid #e7e7e7;
    ;
}

.main-menu-link {
    display: block;
    padding-right: 37px;
    padding-left: 31px;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #b2b2b2;
    background-color: #f3f3f3;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.main-menu-link:hover,
.main-menu-link:active {
    color: #ffffff;
    background-color: #5dd6f3;
    border-top: 1px solid #5dd6f3;
    border-bottom: 1px solid #5dd6f3;
}

.main-menu-link-current {
    padding-right: 46px;
    padding-left: 43px;
    color: #ffffff;
    background-color: #29c5e6;
    border-top: 1px solid #29c5e6;
    border-bottom: 1px solid #29c5e6;
}

.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 330px;
    margin-bottom: 31px;
}

.banner-background {
    min-height: 280px;
    background-color: #e2e2e2;
}

.banner-title {
    padding-top: 37px;
    padding-bottom: 12px;
    padding-left: 37px;
    margin: 0;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 42px;
    line-height: 37px;
    font-weight: lighter;
    color: #5a5a5a;
    text-transform: uppercase;
}

.banner-text {
    padding-top: 0px;
    padding-left: 40px;
    margin: 0;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 20px;
    line-height: 16px;
    font-weight: lighter;
    color: #acacac;
}

.banner-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: #f3f3f3;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e7e7e7;
    list-style: none;
}

.banner-nav-link {
    display: block;
    padding-top: 10px;
    padding-bottom: 17px;
    padding-left: 12px;
    padding-right: 35px;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: lighter;
    color: #8f8f8f;
    text-transform: uppercase;
}

.banner-nav-link:hover:not(.banner-nav-number),
.banner-nav-link:active:not(.banner-nav-number) {
    color: #29c5e6;
}

.banner-nav-link:hover .banner-nav-number,
.banner-nav-link:active .banner-nav-number {
    background-color: #29c5e6;
}

.banner-nav-link-current {
    color: #29c5e6;
}

.banner-nav-link-current .banner-nav-number {
    background-color: #29c5e6;
}

.banner-nav-name {
    margin: 0;
}

.banner-nav-number {
    display: inline-block;
    padding-top: 5px;
    padding-right: 9px;
    padding-bottom: 3px;
    padding-left: 9px;
    margin-right: 7px;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: lighter;
    color: #ffffff;
    background-color: #8f8f8f;
}

.main-text {
    padding: 0 10px;
}

.main-text-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 37px;
    list-style: none;
}

.main-text-list-item {
    width: 460px;
}

.title-wrapper {
    position: relative;
/*
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
*/
}

.title {
    position: relative;
    padding: 0;
    padding-left: 21px;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 13px;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #7e7e7e;
    text-transform: uppercase;
    /*    background-image: url(../img/title-pattern.png);*/
}

.title::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #29c5e6;
}

.title-decorate {
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 30%;
    background-image: url(../img/title-pattern.png);
}

/*
.title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/title-pattern.png);
}*/

.spoiler-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.spoiler-wrapper img {
    margin-right: 18px;
}

.text {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    width: 300px;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
}

.read-more-link {
    font-size: 12px;
    color: #525252;
    text-decoration: underline;
}

.quote {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    font-size: 12px;
    font-style: italic;
    line-height: 16px;
    text-align: justify;
}

.author {
    font-size: 12px;
    color: #525252;
    font-style: normal;
}

.text-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    list-style: none;
}

.text-list-item {
    width: 298px;
    margin-right: 18px;
}

.text-list-item:last-child {
    margin-right: 0;
}

.text-list-item .text {
    margin-bottom: 22px;
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 18px;
    list-style: none;
}

.team-list-item {
    margin-bottom: 8px;
}

.team-list-item img {
    margin-right: 11px;
}

.team-text-title {
    padding: 0;
    margin: 0;
    /*    margin-bottom: 4px;*/
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    color: #525252;
    text-transform: uppercase;
}

.team-list .team-text {
    width: 251px;
    margin-bottom: 0px;
    font-size: 11px;
    line-height: 14px;
}

.clients {
    padding: 0 10px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin: 0;
    list-style: none;
}

.footer {
    margin-top: 42px;
    color: #dbdbdb;
    background-color: #7e7e7e;
}

.footer-wrapper {
    display: flex;
    padding: 14px 12px;
    padding-right: 0;
}

.footer-twitter-block {
    width: 298px;
    margin-right: 23px;
}

.footer-title {
    padding: 0;
    padding-bottom: 2px;
    margin: 0;
    margin-bottom: 5px;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.9px;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid #b4aeae;
}

.data {
    padding-left: 2px;
    font-size: 11px;
    color: #b4aeae;
    text-decoration: underline;
}

.twitter-messege {
    padding: 0;
    padding-left: 3px;
    margin: 0;
    margin-top: 5px;
    width: 275px;
    font-size: 11px;
    line-height: 14px;
    text-align: justify;
}

.footer-sitemap {
    width: 153px;
    margin-right: 16px;
}

.sitemap-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-top: 2px;
    margin: 0;
    width: 131px;
    list-style: none;
}

.sitemap-link {
    font-size: 12px;
    color: #dbdbdb;
}

.sitemap-list-item {
    margin-bottom: 6px;
    width: 47px;
}

.footer-social {
    width: 130px;
}

.main-social-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 11px;
    margin-bottom: 5px;
    width: 110px;
    list-style: none;
}

.social-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    width: 110px;
    list-style: none;
}

.footer-copyright {
    margin-left: auto;
    padding-top: 10px;
    width: 220px;
}

.footer-copyright img {
    margin-bottom: 12px;
    margin-left: 58px;
}

.copyright-text {
    padding: 0;
    margin: 0;
    font-size: 10px;
    text-align: right;
}

.copyright-text a {
    color: inherit;
    text-decoration: underline;
}
